 /* font-family: 'Niramit', sans-serif; */

body{
   margin:0;
   padding:0;
   border:0;
   background: url(img/Brick-background.jpg);
   color:#fff;
   text-align: center;
   text-transform: capitalize;
   font-family: 'Cabin Sketch', cursive;
}
.title{
   font-size:40px;
   margin:0;
   
}
.titleWrap{
   width:350px;
   height:80px;
   line-height:80px;
   background-color:rgba(0, 0, 0, 0.781);
   margin:20px auto;
   border: solid 1px rgb(65, 60, 60);
   border-radius:50px;
}
canvas{
   background-color:rgb(10, 10, 10);
   border:solid 6px rgb(65, 60, 60);
   border-radius:5px;
}
canvas:hover{
   cursor: none;
}
.hud{
   width:20%;
   height:100vh;
   position: absolute;
   top:0;
}
.hud h2{
   padding-top:50px;
}
#paused {
   color:#fff;
   position: absolute;
   margin:auto;
   top:400px;
   z-index: 100;
   font-size:50px;
   left:0;
   right:0;
   display:none;
}
#levelNumber {
   color:#fff;
   position: absolute;
   margin:auto;
   top:500px;
   z-index: 100;
   font-size:50px;
   left:0;
   right:0;
   opacity: 0;
   display:none;
   
}
#legend{
   right:0;
}
#leftHud{
   left:0;
}
#leftHud h2{
  padding-left:80px;
  text-align:left;
}

.legBox{
   width:80%;
   height:60vh;
   background-color:rgba(0, 0, 0, 0.753);
   margin:50px auto;
   border:rgb(65, 60, 60) solid 1px;
   border-radius:5px;
}
.instructBox{
   width:80%;
   height:40vh;
   background-color:rgba(0, 0, 0, 0.753);
   margin:50px auto;
   border:rgb(65, 60, 60) solid 1px;
   border-radius:5px;
   padding:15px;
   box-sizing: border-box;
}
#inst{
   padding:0;
   text-align: center;
   
}

